<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<title>【华为平板 /穿戴】平板电脑、智能手环 、智能手表- 华为商城_华为商城</title>
<meta name="keywords" content="华为平板电脑报价,华为平板电脑推荐,华为平板电脑怎么样,智能手环怎么样,智能手表报价,">
<meta name="description" content="华为商城是华为旗下面向全国服务的电子商务官网。我们提供最新华为平板电脑推荐大全、华为平板电脑报价、图片和参数等商品信息。品质保证！">

<link href="__PUBLIC__/css/ec.core.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/header.css" rel="stylesheet" type="text/css">

<link href="__PUBLIC__/css/catelist.min.css" rel="stylesheet" type="text/css">
<!--[if lte IE 6]><script>ol.isIE6=true;</script><![endif]--><!--[if IE 7]><script>ol.isIE7=true;</script><![endif]--><!--[if IE 8]><script>ol.isIE8=true;</script><![endif]-->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/ec.core.js"></script> 
<script src="__PUBLIC__/js/ec.business.js"></script> 
<!--[if lt IE 9]><script src="http://res.vmallres.com/20160509/js/common/html5shiv.js"></script> <![endif]-->
</head>



<body class="wide huawei">
<div class="top-banner" id="top-banner-block"></div>

<include file="public/header" />

<!-- 分类开始 -->
<div class="hr-10"></div>
<div class="g">
    <!--面包屑 -->
<div class="breadcrumb-area fcn">
  <a href="" title="首页">首页</a>&nbsp;&gt;&nbsp;
  <span>{$parents.1}</span>
</div>
<div class="hr-10"></div><div class="layout">
  <!-- 20140726-商品类别-start -->
  <div class="pro-cate-area">
    <!-- 20140726-商品类别-属性-start -->
    <div class="pro-cate-attr clearfix">
      <div class="p-title">分类：</div>
      <div class="p-default">
        <ul>
          <li id="first-category" class="allcategory" value="{$parents.0}"><a href="{:U('catelist/catelist',array('cid'=>$parents[0]))}">全部</a></li>
          <!--<li class="selected"><a href="javascript:;">全部</a></li>-->
        </ul>
      </div>
      
      <!-- 二级虚拟分类 -->
      <div class="p-values">
        <div class="p-operate" style="display: none;">
          <!-- 追加ClassName： more-expand more-drop -->
          <a href="javascript:;">更多<s></s></a>
        </div>
        <!-- 一行的高度为30px,显示n行，p-expand的高度为nx30 -->
        <div class="p-expand">
          <ul class="clearfix allcategory">
              <foreach name='categorys' item="v">
              <li value="{$v.id}"><a href="{:U('catelist/catelist',array('cid'=>$v['id']))}">{$v.name}</a></li>
              </foreach>
          </ul> 
        </div>
      </div>
      
    </div><!-- 20140726-商品类别-属性-end -->
    
    <!-- 20140726-商品类别-属性-start -->
        <!-- 20140726-商品类别-属性-end -->   
    
    <!-- 20140726-商品类别-排序-start -->
    <div class="pro-cate-sort clearfix">
      <div class="p-title">排序：</div>
      <div class="p-default">
        <ul>
          <li id="sort-default" class="" value="id"><a href="{:U('catelist/catelist',array('cid'=>$currentid,'sort'=>'id'))}">默认</a></li>
        </ul>
      </div>
      <div class="p-values">
        <div class="p-expand">          
          <ul class="clearfix">
              <!-- 升序选择（从低到高）： sort-asc selected   降序选择（从高到低）： sort-desc selected -->
            <li id="sort-price" class="" value="price"><a href="{:U('catelist/catelist',array('cid'=>$currentid,'sort'=>'price','order'=>$order))}" class="sort-price">价格<s></s></a></li>
            <li id="sort-registterTime" value="addtime"><a href="{:U('catelist/catelist',array('cid'=>$currentid,'sort'=>'addtime','order'=>$order))}" class="sort-added">上架时间<s></s></a></li>
          </ul>
        </div>
      </div>
    </div><!-- 20140726-商品类别-排序-end -->
  </div><!-- 20140726-商品类别-end -->
  <div class="hr-20"></div>
</div>        

  <!-- 20140726-频道-列表-start -->
    <div class="channel-list">
        <!-- 20140727-商品列表-start -->
    <div class="pro-list clearfix">
      <ul>
  <foreach name="goodslist" item="vo">
          <li value="{$vo.cateid}">
          <div class="pro-panels">
            <p class="p-img"><a target="_blank" href="{:U('detail/particulars',array('goods_id'=>$vo['id']))}" title="{$vo.name}"><img src="__PUBLIC__/{$vo.image1}"></a></p>
            <p class="p-name"><a target="_blank" href="{:U('detail/particulars',array('goods_id'=>$vo['id']))}" title="{$vo.name}">{$vo.name}<span class="red"></span></a></p>
            <p class="p-price"><b>¥{$vo.price}</b></p>
            <div class="p-button clearfix">
              <table colspan="0" border="0" rowspan="0">
                <tbody>
                  <tr>
                    <td><a target="_blank" href="{:U('detail/particulars',array('goods_id'=>$vo['id']))}" class="p-button-cart"><span>立即购买</span></a></td>
                    <td><label class="p-button-score"><span>117人评价</span></label></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <s class="p-tag"><img src="__PUBLIC__/images/1460242398600.png"></s>
          </div>
        </li>
</foreach>
      </ul>
    </div>

    <div id="cart-empty-msg" class="sc-empty-area hide">
        亲，您点击分类暂无商品，快去逛逛吧！
    </div>
    <!-- 20140727-商品列表-end -->
    <!-- 分页-start -->
    <div id="list-pager-113" class="pager">
        <span class="hide">
          <a href="#" title="平板 &amp; 穿戴 第1页">第1页</a>&nbsp;&nbsp;
        </span>
      </div>
  </div><!-- 20140726-频道-列表-end -->
<!--口号-20121025 -->

<include file="public/footer" />

</div>
</body>
</html>

<script>
    // 判断当前get的字段来选中状态
    $("li[value='{$currentid}']").addClass('selected');
    $("li[value='{$sort}']").addClass('selected');

    // 没有数据时，显示层
    $(function(){
      if($('.pro-list').find('li').length == 0){
        $("#cart-empty-msg").removeClass('hide');
      }
    });
</script> 


