 <!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="Content-Language" content="zh-cn">
    <title>华为商城公告</title>
    <meta name="description" content="网页描述">
    <meta name="keywords" content="关键字">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/header.css">
    <link href="__PUBLIC__/css/common.css" type="text/css" rel="Stylesheet" />
    <link href="__PUBLIC__/css/detail.css" type="text/css" rel="Stylesheet" />
     
    <link href="__PUBLIC__/css/announcement.css" type="text/css" rel="Stylesheet" />
    <script src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/core.js"></script>
</head>
<body>
    <include file="public/header" />
       
      <div class="hr20"></div>
       
      
	<!-- start -->
	 <!--主体内容! -->
        <section id="main" class="clear">
            <!--产品的类别导航路径-->
            <div class="bread-crumb">
                <a href="#"><b>首页</b></a>
                <span>&gt;</span>
                <a href="__URL__/AnnouncementList">商城公告</a>
                <span>&gt;</span>
                <a href="#">{$ainfo.title}</a>
                <!-- <a href="#">清洁用品</a>
                <span>&gt;</span>
                <a href="#">衣物清洁</a>
                <span>&gt;</span>
                <a href="#">卫新</a> -->
                <foreach name="breaklist" item="v">
                <span>&gt;</span>
                <a href="#">{$v}</a>
                </foreach>
            </div>

            <div>
                <div class="zhuti">
                    <div class="titlebox" ><h1 class="titleh1" >{$ainfo.title}</h1></div>
                    <div class="titleattr" >
                        <div class="attrtime" >更新时间：{$ainfo.addtime|date='Y-m-d H:i:s',###}</div>
                    </div>
                    
                    <div class="content" >
                        {$ainfo.editorvalue}
                    </div>
                    <div class="titlefoot">
                        <notempty name="prepinfo">
                        上一篇：<a href="__URL__/Announcement/id/{$prepinfo.id}" >{$prepinfo.title}</a>
                        </notempty>
                        <br>
                        <notempty name="nextinfo">
                        下一篇：<a href="__URL__/Announcement/id/{$nextinfo.id}" >{$nextinfo.title}</a>
                        </notempty>
                        <empty name="nextinfo">下一篇：<a href="#" >没有了</a></empty>
                    </div>
                </div>
            </div>

            
        </section>

         



      <div class="hr20"></div>
       

      <div style="clear:both;"></div>
        
      
  <include file="public/footer" />
  </body>
  <script type="text/javascript">
      $('#choose_btns a').click(function(){
          // alert();
          //拿样式
          var style = $('.selected').find('img').attr('index');
          //拿名字
          var goodsname = $('#goodsname').text();
          //拿商品数量
          var num = $('#ac_num').val();
          //拿id
          var id = $('#goodsname').attr('index');
          // console.log(id);

          //ajax发送数据
          $.post(
            //请求的url
            "{:U('shopcart/scAdd')}",
            //需要发送的数据
            { "style":style , "goodsname":goodsname, "num":num, "id":id },

            function( data ){
               console.log(data);
            },
            "json"
          );

          
          return false;
      });
  </script>
<html>
